/* line 8, ../sass/screen.sass */
body {
  padding: 100px;
  margin: 20px auto;
  width: 500px;
  height: 500px;
}

/* line 13, ../sass/screen.sass */
#wrapper {
  border: 1px solid #cccccc;
  position: relative;
  width: 500px;
  height: 500px;
}

/* line 19, ../sass/screen.sass */
body.rollaround i {
  font-size: 165px;
  line-height: 145px;
  position: absolute;
  -webkit-animation: rollaround 5s linear infinite;
  -moz-animation: rollaround 5s linear infinite;
  -ms-animation: rollaround 5s linear infinite;
  -o-animation: rollaround 5s linear infinite;
  animation: rollaround 5s linear infinite;
}

@-moz-keyframes rollaround {
  /* line 26, ../sass/screen.sass */
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0px;
    top: 0px;
  }

  /* line 30, ../sass/screen.sass */
  25% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    left: 0px;
    top: 360px;
  }

  /* line 34, ../sass/screen.sass */
  50% {
    -moz-transform: rotate(720deg);
    transform: rotate(720deg);
    left: 360px;
    top: 360px;
  }

  /* line 38, ../sass/screen.sass */
  75% {
    -moz-transform: rotate(1080deg);
    transform: rotate(1080deg);
    left: 360px;
    top: 0px;
  }

  /* line 42, ../sass/screen.sass */
  100% {
    -moz-transform: rotate(1440deg);
    transform: rotate(1440deg);
    left: 0px;
    top: 0px;
  }
}

@-webkit-keyframes rollaround {
  /* line 26, ../sass/screen.sass */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0px;
    top: 0px;
  }

  /* line 30, ../sass/screen.sass */
  25% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    left: 0px;
    top: 360px;
  }

  /* line 34, ../sass/screen.sass */
  50% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    left: 360px;
    top: 360px;
  }

  /* line 38, ../sass/screen.sass */
  75% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    left: 360px;
    top: 0px;
  }

  /* line 42, ../sass/screen.sass */
  100% {
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg);
    left: 0px;
    top: 0px;
  }
}

@-o-keyframes rollaround {
  /* line 26, ../sass/screen.sass */
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0px;
    top: 0px;
  }

  /* line 30, ../sass/screen.sass */
  25% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    left: 0px;
    top: 360px;
  }

  /* line 34, ../sass/screen.sass */
  50% {
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
    left: 360px;
    top: 360px;
  }

  /* line 38, ../sass/screen.sass */
  75% {
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
    left: 360px;
    top: 0px;
  }

  /* line 42, ../sass/screen.sass */
  100% {
    -o-transform: rotate(1440deg);
    transform: rotate(1440deg);
    left: 0px;
    top: 0px;
  }
}

@-ms-keyframes rollaround {
  /* line 26, ../sass/screen.sass */
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0px;
    top: 0px;
  }

  /* line 30, ../sass/screen.sass */
  25% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    left: 0px;
    top: 360px;
  }

  /* line 34, ../sass/screen.sass */
  50% {
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
    left: 360px;
    top: 360px;
  }

  /* line 38, ../sass/screen.sass */
  75% {
    -ms-transform: rotate(1080deg);
    transform: rotate(1080deg);
    left: 360px;
    top: 0px;
  }

  /* line 42, ../sass/screen.sass */
  100% {
    -ms-transform: rotate(1440deg);
    transform: rotate(1440deg);
    left: 0px;
    top: 0px;
  }
}

@keyframes rollaround {
  /* line 26, ../sass/screen.sass */
  0% {
    transform: rotate(0deg);
    left: 0px;
    top: 0px;
  }

  /* line 30, ../sass/screen.sass */
  25% {
    transform: rotate(360deg);
    left: 0px;
    top: 360px;
  }

  /* line 34, ../sass/screen.sass */
  50% {
    transform: rotate(720deg);
    left: 360px;
    top: 360px;
  }

  /* line 38, ../sass/screen.sass */
  75% {
    transform: rotate(1080deg);
    left: 360px;
    top: 0px;
  }

  /* line 42, ../sass/screen.sass */
  100% {
    transform: rotate(1440deg);
    left: 0px;
    top: 0px;
  }
}

/* line 48, ../sass/screen.sass */
body.ios i {
  position: absolute;
}
/* line 50, ../sass/screen.sass */
body.ios i.one {
  font-size: 80px;
  top: 100px;
  left: 100px;
  -webkit-animation: clockwise 10s linear infinite;
  -moz-animation: clockwise 10s linear infinite;
  -ms-animation: clockwise 10s linear infinite;
  -o-animation: clockwise 10s linear infinite;
  animation: clockwise 10s linear infinite;
}
/* line 55, ../sass/screen.sass */
body.ios i.two {
  font-size: 100px;
  top: 50px;
  left: 150px;
  -webkit-animation: counterclockwise 10s linear infinite;
  -moz-animation: counterclockwise 10s linear infinite;
  -ms-animation: counterclockwise 10s linear infinite;
  -o-animation: counterclockwise 10s linear infinite;
  animation: counterclockwise 10s linear infinite;
}
/* line 60, ../sass/screen.sass */
body.ios i.three {
  font-size: 80px;
  top: 98px;
  left: 220px;
  -webkit-animation: clockwise 10s linear infinite;
  -moz-animation: clockwise 10s linear infinite;
  -ms-animation: clockwise 10s linear infinite;
  -o-animation: clockwise 10s linear infinite;
  animation: clockwise 10s linear infinite;
}

@-moz-keyframes clockwise {
  /* line 68, ../sass/screen.sass */
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 70, ../sass/screen.sass */
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes clockwise {
  /* line 68, ../sass/screen.sass */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 70, ../sass/screen.sass */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes clockwise {
  /* line 68, ../sass/screen.sass */
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 70, ../sass/screen.sass */
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes clockwise {
  /* line 68, ../sass/screen.sass */
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 70, ../sass/screen.sass */
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes clockwise {
  /* line 68, ../sass/screen.sass */
  0% {
    transform: rotate(0deg);
  }

  /* line 70, ../sass/screen.sass */
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes counterclockwise {
  /* line 73, ../sass/screen.sass */
  0% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  /* line 75, ../sass/screen.sass */
  100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes counterclockwise {
  /* line 73, ../sass/screen.sass */
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  /* line 75, ../sass/screen.sass */
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-o-keyframes counterclockwise {
  /* line 73, ../sass/screen.sass */
  0% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  /* line 75, ../sass/screen.sass */
  100% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-ms-keyframes counterclockwise {
  /* line 73, ../sass/screen.sass */
  0% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  /* line 75, ../sass/screen.sass */
  100% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes counterclockwise {
  /* line 73, ../sass/screen.sass */
  0% {
    transform: rotate(360deg);
  }

  /* line 75, ../sass/screen.sass */
  100% {
    transform: rotate(0deg);
  }
}
